intranet_server/debug/
intranet_server/target/
intranet_server/Cargo.lock
**/**.rs.bk
*.pdb
intranet-website/build/
/benchpress-build/
*.DS_Store
*gen_docs.disable
*test.disable
*regression/temp*.html
*performance/temp*.html
*~
*.swp
*angular.js.tmproj
*node_modules/
*angular.xcodeproj
*.firebase/
*.idea
*.iml
*.agignore
*.lvimrc
*libpeerconnection.log
*npm-debug.log
*/tmp/
8.vscode
*.log
*.stackdump
*scripts/code.angularjs.org-firebase/deploy
*scripts/docs.angularjs.org-firebase/deploy
*scripts/docs.angularjs.org-firebase/functions/content
