<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<main class="main">
  <div class="card-container">
    <mat-card class="example-card">
      <div class="example-card-title">Server Health</div>
      <div class="example-card-subtitle">Fetched: {{lastUpdated | date:'short'}}</div>
      <mat-card-content class="example-card-content">
        <p><strong>Host Name:</strong> {{health?.host_name}}</p>
        <div class="progress-bar-container">
          <div class="progress-bar" [style.width.%]="health?.used_mem_as_pct">
            <span class="progress-bar-label">
              RAM
            </span>
          </div>
        </div>
        <div class="cpu-usage-container">
          <div *ngFor="let usage of health?.cpu_usages_as_pct; let i = index" class="progress-bar-container">
            <div
              class="progress-bar"
              [style.width.%]="usage"
              >
              <span class="progress-bar-label">
              CPU[{{ i }}]: {{ usage | number:'1.0-2' }}%
              </span>
            </div>
          </div>
  </div>
      </mat-card-content>
      <mat-card-footer>
        <div class="example-card-footer"></div>
      </mat-card-footer>
    </mat-card>
  </div>
</main>

<router-outlet />
